@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .name_slide {
    animation: 1.2s ease-in-out NameSlide;
  }
  .nav_slide {
    position: absolute;
    right: 0;
    animation: 1.2s ease-in-out NavSlide;
  }
}

@keyframes NameSlide {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes NavSlide {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
